/*  COLORS */
/* 
color : #666f87
color- light :  	#acb8c9
color - white:  	#dbdfe5
color - dark :  	#262d4b
color -dark1 : #090c2d
*/




/*  Main CSS */
* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}

/*  Header */

.main-header {
  display: flex;
  justify-content: space-between;
  background: #acb8c9;
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  margin: 1rem;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #090c2d;
}

.main-nav__items {
  margin: 1rem;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #090c2d;
  padding: 0.5rem;
}

.main-nav__item a:active,
.main-nav__item a:hover {
  border-bottom: solid 2px #090c2d;
}


/*  Section Team */

#team {
  background: url('../img/background.jpg') center/cover no-repeat;
  height: 95vh;
  position: relative;
}

.main-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: aliceblue;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 3%;
}


/*  Section Game */

.section-title {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
}


.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-text {
  margin: 1rem;
}

.game-text__title {
  font-size: 2.5rem;
  text-align: center;
}

.game-text__description {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: start;
}

.game__img img {
  border-radius: 2rem;
  margin: 2.5rem;
  box-shadow: #090c2d 1px 1px 1px;
}